<!DOCTYPE html>
<html>
<head>
  <title>SolarSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



	<footer>
		Created by David Brodsky
		<a href="http://www.linkedin.com/in/davidbrodsky90/"><img src="<%= asset_path('linkedin_icon.png') %>" alt=""></a>
		<a href="http://www.github.com/DBrodsky90"><img src="<%= asset_path('github_icon.png') %>" alt=""></a>
	</footer>

</body>
</html>
