<!DOCTYPE html>
<html>
<head>
  <title>SolarSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="planet-info">
		<h2><span class="planet-name"></span></h2>
		<h4>Diameter (miles) : <span class="diameter"></span></h4>
		<h4>Avg Distance from Sun (miles) : <span class="avg-distance"></span></h4>
		<h4>Rotation Period (hours) : <span class="rotation"></span></h4>
		<h4>Orbit Period (days) : <span class="orbit-period"></span></h4>
		<h4>Orbit Velocity (miles/s) : <span class="orbit-velocity"></span></h4>
		<h4>Moons : <span class="moons"></span></h4>
	</div>

	<div class="planet-list">
		<p class="planet sun">Sun</p>
		<p class="planet mercury">Mercury</p>
		<p class="planet venus">Venus</p>
		<p class="planet earth">Earth</p>
		<p class="planet mars">Mars</p>
		<p class="planet jupiter">Jupiter</p>
		<p class="planet saturn">Saturn</p>
		<p class="planet uranus">Uranus</p>
		<p class="planet neptune">Neptune</p>
	</div>


	<footer>
		Created by David Brodsky
		<a href="http://www.github.com/DBrodsky90"><img src="<%= asset_path('github_icon.png') %>" alt=""></a>
		<a href="http://www.linkedin.com/in/davidbrodsky90/"><img src="<%= asset_path('linkedin_icon.png') %>" class="linkedin" alt=""></a>
		<a href="mailto:DBrodsky90@gmail.com"><img src="<%= asset_path('mail_icon.png') %>" class="mail" alt=""></a>
	</footer>

</body>
</html>
