<!DOCTYPE html>
<html>
<head>
  <title>SolarSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="">
		
	</div>

	<div class="planet-list">
		<p class="planet sun">Sun</p>
		<p class="planet mercury">Mercury</p>
		<p class="planet venus">Venus</p>
		<p class="planet earth">Earth</p>
		<p class="planet mars">Mars</p>
		<p class="planet jupiter">Jupiter</p>
		<p class="planet saturn">Saturn</p>
		<p class="planet uranus">Uranus</p>
		<p class="planet neptune">Neptune</p>
	</div>


	<footer>
		Created by David Brodsky
		<a href="http://www.github.com/DBrodsky90"><img src="<%= asset_path('github_icon.png') %>" alt=""></a>
		<a href="http://www.linkedin.com/in/davidbrodsky90/"><img src="<%= asset_path('linkedin_icon.png') %>" class="linkedin" alt=""></a>
		<a href="mailto:DBrodsky90@gmail.com"><img src="<%= asset_path('mail_icon.png') %>" class="mail" alt=""></a>
	</footer>

</body>
</html>
